.separator{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: $light-grey;
        bottom: 0;
        left: 0;
    }
}